<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/colors.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="body-custom-font">
<nav class="navbar sticky-top navbar-expand-lg navbar-custom-colors">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/frontend}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/info}">¿Quiénes Somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/frontend/datosReserva}">Reservar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/verReserva}">Ver reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/credencialesTarjetaCliente}">Ver Tarjeta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/miembroclub}">Club Fun</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/inicioSesionEmpleado}">Acceso Empleados</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" th:if="${!actividadesElegidas.isEmpty()}">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2 class="text-center fw-bold py-3">Reserva actual</h2>
            <table class="table table-bordered table-custom">
                <thead class="text-center">
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Sesión</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="actividad : ${actividadesElegidas}">
                    <td th:text="${actividad.value.getNombre()}"></td>
                    <td th:text="${actividad.key}"></td>
                    <td>
                        <a th:href="@{/frontend/eliminarActividad/{hora}  (hora=${actividad.key})   }" th:text="'Eliminar de reserva'" onclick="return confirm('¿Estás seguro?')" class="btn button-custom-colors" role="button" title="Eliminar de la reserva."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center py-3">
                <p class="d-inline">Precio total: <span th:text="${precioTotal}"></span></p>
                <a th:href="@{/frontend/guardarActividades}" class="btn button-custom-colors-accent d-inline ml-3" role="button" title="Guardar y pasar a datos de contacto" th:text="'Guardar y pasar a datos de contacto'"></a>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center fw-bold py-3">Atracciones y sesiones</h2>
<div class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="row justify-content-center w-100">
            <div class="card-deck d-flex flex-wrap justify-content-center">
                <div th:each="atraccion : ${sesionesPorAtraccion}" class="card w-25 mb-4 mx-2 card-custom-colors">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${atraccion.key.getNombre()}"></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary" th:text="'Precio por persona: ' + ${atraccion.key.getPrecio()}"></h6>
                        <p th:if="${atraccion.value.isEmpty()}">No hay sesiones disponibles para esta actividad, prueba a cambiar el número de personas o la fecha de reserva.</p>
                        <div class="list-group list-group-horizontal">
                            <div class="row">
                                <div class="col-4 mb-1" th:each="sesion : ${atraccion.value}">
                                    <a class="btn button-custom-colors" th:href="@{'/frontend/addActividad/hora=' + ${sesion} + '/atraccion=' + ${atraccion.key.getId()} }">
                                        <span th:text="${sesion}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <a class="btn button-custom-colors-accent px-3" th:href="@{/frontend/volverAtrasDatosReserva}" onclick="return confirm('Volver atrás te permitirá cambiar el número de personas, local y/o fecha de la reserva, pero perderás tu lista de actividades. ¿Quieres volver atrás?')">
                Volver atrás
            </a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>