<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/frontend/debug}">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sitios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/frontend/sitiosLista}">Ver sitios</a></li>
                        <li><a class="dropdown-item" th:href="@{/frontend/sitiosCrear}">Crear sitio</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Atracciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/frontend/atraccionesLista}">Ver atracciones</a></li>
                        <li><a class="dropdown-item" th:href="@{/frontend/atraccionesCrear}">Crear atracción</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Empleados
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/frontend/empleadosLista}">Ver empleados</a></li>
                        <li><a class="dropdown-item" th:href="@{/frontend/empleadosCrear}">Crear empleado</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/frontend/cerrarSesionEmpleado}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2 class="text-center" th:text="${titulo}"></h2>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form th:action="@{/frontend/sitiosGuardar}" method="post"  th:object="${sitio}" class="card-body cardbody-color p-lg-5">
                    <div class="mb-3">
                        <label for="calle" class="form-label"> Calle </label>
                        <input type="text" class="form-control" th:field="*{calle}"  id="calle" name="calle" placeholder="Nombre de la calle" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero" class="form-label"> Número </label>
                        <input type="text" class="form-control" th:field="*{numero}"  id="numero" name="numero" placeholder="Número de la calle" pattern="[0-9]{1,}" required>
                    </div>
                    <div class="mb-3">
                        <label for="codigoPostal" class="form-label"> Código Postal </label>
                        <input type="text" class="form-control" th:field="*{codigoPostal}"  id="codigoPostal" name="codigoPostal" placeholder="Código Postal del sitio" pattern="[0-9]{5}" required>
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label"> Ciudad </label>
                        <input type="text" class="form-control" th:field="*{ciudad}"  id="ciudad" name="ciudad" placeholder="Ciudad del sitio" required>
                    </div>
                    <div class="mb-3">
                        <label for="provincia" class="form-label"> Provincia </label>
                        <input type="text" class="form-control" th:field="*{provincia}"  id="provincia" name="provincia" placeholder="Provincia del sitio" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <input type="hidden" th:field="*{id}" />
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>